//Principais cores do sistema
$blue-500: #177EF3;
$blue-70D: #0259BB;
$blue-butons: #0078FF;
$blue-GRAY: #435265;
$blue-GRAY2: #808080;
$blue-con:#a4caf8;
$GRAY-100: #E2ECF2;
$GRAY-200: #DEE5E9;
$GRAY-300: #D6D4D4;
$WHITE: #FFF;



